body {
  background-color: lightblue;
  min-height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
}
h1{ 
  background-color: darkslateblue;
  color: whitesmoke;
  font-size: 70px;
 }

title {
  color: burlywood;
}